@page "/"
@using System.Text.Json;
@using System.Net.Http;
@inject HttpClient Http;

<h1>Lista de produtos</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in produtoList){
            <tr>
                <td>@item.nome</td>
                <td>@item.descricao</td>
                <td>@item.valor</td>
                <td> 
                    <button type="button" class="btn btn-primary">Editar</button>
                    <button type="button" class="btn btn-secondary">Apagar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Produto> produtoList = new List<Produto>();

    private Produto produto = new Produto();
    private EditContext editContext { get; set; }


    protected override async Task OnInitializedAsync() {
        var Produtos = await Http.GetFromJsonAsync<List<Produto>>("/Register/List");
        foreach (var item in produto){
            produtoList.Add(item);
        }
    }

    private async Task HandleValidSubmit(){
        var teste = await Http.PostAsJsonAsync("/Register/Create", produto);
    }

    private void HandleReset(){
        produto = new Produto();
        editContext = new EditContext(produto);
    } 
}

@* 
<SurveyPrompt Title="How is Blazor working for you?" /> *@
